<div class="dish-card">
  <div class="dish-card-header">
    {{dish_name}}
  </div>
  <div class="card-body">
  <!-- TODO: Add your code here to render dish descriptions using Handlebars.js -->
   <!-- create a section <div> to display the description of the dish -->
   <p>
      Description:
      {{description}}
    </p>
  </div>
</div>
