section {
  width: 600px;
  height: 600px;
  background-size: cover;
  position: relative;
  margin: 10px auto;
  border: 15px solid black;

}

img {
  width: 200px;
  height: 200px;
  background-color: lightblue;
  /* TODO: Add a margin property */
  margin: 20px;
  /* TODO: Add a padding property */
  padding: 20px;
  /* TODO: Add a border property */
  border: 8px solid blue
}
