.lesson {
  background-color: lemonchiffon;
}

.title {
  color: darkblue;
}

#email {
  background-color: goldenrod;
}

#github {
  background-color: lightsteelblue;
}

#portfolio {
  background-color: darkorange;
  
}
img {
  width: 200px; 
  height: 200px;
  border-top-left-radius: 10%;
  border-bottom-right-radius: 10%;
}

p {
  width: 600px;
}
